{% import (
  "net/http"
) %}
{% interface
Page {
  Name()
  Title()
  Content()
}
%}
{% stripspace %}
{% func LayoutPage(p Page, req *http.Request) %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="GoJakarta">
  <meta name="language" content="en">
  <meta http-equiv="content-language" content="en">
  <title>{%s= p.Title() %}</title>
  <link rel="stylesheet" href="{%s= Asset(`css/app.css`) %}">
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Search IMDb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Search <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://gophers.id/slides" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /navbar -->

<!-- content -->
  {%= p.Content() %}
<!-- /content -->

<footer class="footer text-muted">
  <div class="container">
    <p class="float-right">
    </p>
    <p>&copy;{%s= year %} &nbsp; GoJakarta</p>
  </div>
</footer>

<!-- scripts -->
<script src="{%s= Asset(`js/app.js`) %}"></script>
<!-- /scripts -->

</body>
</html>
{% endfunc %}
{% endstripspace %}
